@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 class="text-light">@ViewData["Title"]</h1>
    <pclass="text-light">You have successfully logged out of the application.</p>
</header>