@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Over mij - ";
}

<h1 class="text-center">Over mij</h1>

<div class="mt-5 mb-5">
    <div class="row mb-2">
        <div class="col-md-6 col-sm-12 mb-2">
            <img src="~/images/FF profile pic.jpg" class="img-fluid" width="50%" alt="logo" />
        </div>
        <div class="col-md-6 col-sm-12">
            <p class="text-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p class="text-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="~/images/R34RioStoplight.jpg" class="img-fluid" alt="pic Nissan 2002 R34 GT-R Spec V" />
        </div>
    </div>
</div>
