@{
    ViewData["Title"] = "Galerij - ";
}

<h1 class="custom-text-color text-center mx-3 my-5">Galerij</h1>

<div class="container-fluid mb-5">
    <div class="owl-carousel owl-theme mb-5">
        <div>
            <img src="~/images/PorscheCaymanRdAtlBends.jpg" alt="PorscheCayman_RdAtl1" />
        </div>
        <div>
            <img src="~/images/PorscheCaymanRdAtlSign.jpg" alt="PorscheCayman_RdAtl2" />
        </div>
        <div>
            <img src="~/images/R34RioStoplight.jpg" alt="R34_Rio" />
        </div>
        <div>
            <img src="~/images/R34WetNurbGP.jpg" alt="R34_Nurb" />
        </div>
        <div>
            <img src="~/images/Stang_eauRouge.jpg" alt="Stang_Spa" />
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            })
        });


    </script>
}