@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin - ";
}

<div class="container-fluid bg-warning mb-5 pb-3 pt-3">
    <form>
        <label class="control-label text-light mt-1">Pas titel 1 aan</label>
        <input class="form-control mt-1"  placeholder="Titel 1" />
        <label class="control-label text-light mt-1">Pas tekst 1 aan</label>
        <input class="form-control mt-1" placeholder="Tekst 1" />
        <label class="control-label text-light mt-1">Pas afbeelding(?) 1 aan</label><br />
        <input type="file" class="mt-1" name="img_1"><br/><hr />
        <label class="control-label text-light mt-1">Pas titel 2 aan</label>
        <input class="form-control mt-1" placeholder="Titel 2" />
        <label class="control-label text-light mt-1">Pas tekst 2 aan</label>
        <input class="form-control mt-1" placeholder="Tekst 2" />
        <label class="control-label text-light mt-1">Pas afbeelding(?) 2 aan</label><br />
        <input type="file" class="mt-1" name="img_2"><br />
        <button class="btn btn-warning mx-auto mt-4 border border-light rounded text-light">Opslaan</button>
    </form>

</div>
