@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Leaderboard - ";
}

<h1 class="text-center mt-5 mb-5 me-1">COTA</h1>

<div class="table-responsive rounded">
    <table class="table bg-warning table-striped border border-light">
        <thead>
            <tr>
                <th class="text-sm-left text-light">POS</th>
                <th class="text-sm-left text-light">Klasse</th>
                <th class="text-sm-left text-light">Auto</th>
                <th class="text-sm-left text-light">Rondetijd</th>
                <th class="text-sm-left text-light">Handling</th>
                <th class="text-sm-left text-light">Datum</th>
                <th class="text-sm-left text-light">Nickname</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>S800</td>
                <td>Lamborghini Reventon</td>
                <td>01.30.568</td>
                <td>6.5H</td>
                <td>19-11-2022</td>
                <td>LeRacer</td>
            </tr>
            <tr>
                <td>2</td>
                <td>S800</td>
                <td>Lamborghini Diablo</td>
                <td>01.30.864</td>
                <td>6.2H</td>
                <td>18-11-2022</td>
                <td>LeRacer</td>
            </tr>
            <tr>
                <td>3</td>
                <td>S800</td>
                <td>Ford GT</td>
                <td>01.30.931</td>
                <td>6.4H</td>
                <td>17-11-2022</td>
                <td>LeRacer</td>
            </tr>
        </tbody>
    </table>
</div>

    <h1 class="text-center mt-5 mb-5">Rondetijd toevoegen</h1>

    
    <div class="container-fluid bg-warning p-5 mb-3 border border-light rounded">
        <fieldset>
            <legend class="text-center mb-5">Rondetijd registreren</legend>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <select class="p-1">
                    <option>Auto's</option>
                    <option>Ford GT 6.4H</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-12">
                <input type="text" class="mt-1" placeholder="Rondetijd {00.00.000}" />
            </div>
        </div>        
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-3">
        <button class="btn-dark border border-light rounded py-1 px-2">Voeg rondetijd toe</button>
    </div>
    </fieldset>
    <fieldset class="mt-4">
        <legend class="text-center mb-5">Voeg auto + rondetijd toe</legend>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <input type="text" class="mt-1" placeholder="Merk" />
            </div>
            <div class="col-md-6 col-sm-12">
                <input type="text" class="mt-1" placeholder="Model" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-sm-12">
                <input type="text" class="mt-1" placeholder="Handling" />
            </div>
            <div class="col-md-6 col-sm-12">
                <input type="text" class="mt-1" placeholder="PI" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-sm-12">
                <input type="text" class="mt-1" placeholder="Rondetijd {00.00.000}" />
            </div>
            <div class="col-md-6 col-sm-12">
                <button class="btn-dark border border-light rounded py-1 px-2">Voeg rondetijd toe</button>
            </div>
        </div>
    </fieldset>
    </div>

    