@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Circuits - ";
}

<div class="row mt-5 mb-5">
    <div class="col-md-4">        
        <div class="card" style="width: 18rem;">            
            <img src="~/images/COTA.jpg" class="card-img-top" alt="img_COTA">
            <div class="card-body bg-warning text-light text-center">
                <a class="text-light bg-warning" asp-controller="Leaderboard" asp-action="Detail">COTA</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/images/Daytona.jpg" class="card-img-top" alt="img_Daytona">
            <div class="card-body bg-warning text-light text-center">
                <a class="text-light bg-warning" asp-controller="Leaderboard" asp-action="Detail">Daytona</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/images/Hockenheim.jpg" class="card-img-top" alt="img_Hockenheim">
            <div class="card-body bg-warning text-light text-center">
                <a class="text-light bg-warning" asp-controller="Leaderboard" asp-action="Detail">Hockenheim</a>
            </div>
        </div>
    </div>
</div>